<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.movieservice.repository.mybatis.MemberMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member (login_id, login_password, email, nickname)
        values (#{loginId}, #{loginPassword}, #{email}, #{nickname})
    </insert>

    <select id="findByloginId" resultType="Member">
        select id
        from member
        where login_id = #{loginId}
    </select>

</mapper>