<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.movieservice.repository.MovieMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="movieId">
        insert into movie(movie_name, genre, actor, running_time, supervisor, opening_date, updated_at, created_at)
        values ( #{movieName}, #{genre}, #{actor}, #{runningTime}, #{supervisor}, #{openingDate}, current_timestamp , current_timestamp)
    </insert>

    <select id="getMovie" resultType="Movie">
        select id, movie_name, genre, actor, running_time, supervisor, opening_date
        from movie
        where id = #{movieId}
    </select>
</mapper>