<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.movieservice.repository.ReviewMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="reviewId">
        insert into review(movie_id, member_id, content, rating, like_count, dislike_count, updated_at, created_at)
        values (#{movieId}, #{memberId}, #{content},#{rating}, #{likeCount}, #{disLikeCount}, current_timestamp , current_timestamp)
    </insert>

    <delete id="delete">
        delete from review
        where id = #{reviewId}
    </delete>

    <select id="getTotalRowCount" resultType="int">
        select count (*)
        from review
    </select>

    <select id="getReviewList" resultType="ReviewVO">
        select r.id as reviewId, movie_id, login_id, r.member_id as member_id, nickname, content, rating, like_count, unlike_count
        from review as r left join member as m
        on r.member_id = m.id
        order by reviewId Desc
        limit #{startIdx}, 10
    </select>

    <update id="increaseLikeCount">
        update review
        set like_count=like_count+1
        where id = #{reviewId}
    </update>

    <update id="increaseDislikeCount">
        update review
        set dislike_count=dislike_count+1
        where id = #{reviewId}
    </update>

    <update id="decreaseLikeCount">
        update review
        set like_count=like_count-1
        where id = #{reviewId}
    </update>

    <update id="decreaseDislikeCount">
        update review
        set dislike_count=dislike_count-1
        where id = #{reviewId}
    </update>

    <select id="getLikeCount" resultType="Long">
        select like_count
        from review
        where id=#{reviewId}
    </select>

    <select id="getRatingList" resultType="RatingVO">
        select rating, count(rating)
        from review
        where movie_id = #{movieId}
        group by rating
        order by rating asc
    </select>

    <select id="getRowCount" resultType="INTEGER">
        select count (*)
        from review
        where movie_id = #{movieId}
    </select>

    <select id="getRatingAverage" resultType="Double">
        select avg (rating)
        from review
        where movie_id = #{movieId}
    </select>

    <select id="getReviewCount" resultType="int">
        SELECT COUNT(*)
        FROM review
        WHERE member_id = #{memberId}
    </select>
</mapper>

