<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.movieservice.repository.mybatis.MemberMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member (login_id, login_password, email, nickname, email_key)
        values (#{loginId}, #{loginPassword}, #{email}, #{nickname}, #{emailKey})
    </insert>

    <select id="findByLoginId" resultType="Member">
        select id, login_id, email, nickname, email_key
        from member
        where login_id = #{loginId}
    </select>

    <update id="updateMailAuth" parameterType="Member">
        update member set email_auth=1 where email=#{email} and email_key=#{emailKey}
    </update>

    <update id="updateMailKey" parameterType="Member">
        update member set email_Key=#{newMailKey} where email=#{member.email} and email_key=#{member.emailKey}
    </update>

    <select id="loadUserInfo" resultType="Member">
        select id, login_id, email, nickname, grade
        from member
        where login_id = #{loginId}
    </select>

    <select id="checkEmailAuth" resultType="int">
        select count(*)
        from member
        where login_id = #{loginId} and email_auth=1
    </select>

    <select id="findPasswordByLoginId" resultType="String">
        select login_password
        from member
        where login_id = #{loginId}
    </select>
</mapper>